<ion-header>
  <ion-toolbar>
    <ion-title>portifolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <!--Linha 1-->
    <ion-row>

      <!--Fatekinho-->
      <ion-col size="12" size-xl>

        
          <ion-card>
            <img src="../assets/img/fatekinho.jpg"/>
            
            <ion-card-header>
              <!-- <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
                <ion-card-subtitle>
                  <ion-icon name="logo-chrome"></ion-icon>
                </ion-card-subtitle>
              </a> -->

              <ion-card-title>Fatekinho</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              O Projeto aborda a Importancia da segurança no trabalho. 
              Realizado em Parceria entre nosso Grupo
              e estudantes da Fatec de Pinda-SP.

              <br>

              <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
                <ion-chip outline color="primary">
                  
                    <ion-icon name="logo-chrome" ></ion-icon>
                    <ion-label>
                      Visitar Site
                    </ion-label>

                </ion-chip>
              </a> 

            </ion-card-content>
          </ion-card>

      </ion-col>

      <!--Hope-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/hope.jpg"/>
          
          <ion-card-header>
            <ion-card-title>Hope</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            O HOPE é um projeto social que buscar ajudar as pessoas na luta da 
            depressão e baixa autoestima. Com o HOPE você nunca esta sozinho.

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    <!--Linha 2-->
    <ion-row>

      <!--CApoeirando-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/capoeirando.jpg"/>
          
          <ion-card-header>
            <ion-card-title>Capoeirando</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            O Projeto Capoeirando tem um trabalho social onde ensina capoeira e
            outras cultura 

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

      <!--StoreUp-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/st_up.png"/>
          
          <ion-card-header>
            <ion-card-title>StoreUp</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Uma plataforma simples e prática que
            auxiliara o gerenciamento de sua empresa. Tenha o controle de seus cliente, 
            estoque e muito mais.
            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    <!--Linha 3-->
    <ion-row>

      <!--DivulgaAê-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/divulgae.jpg"/>
          
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Divulga Aê</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Divulgue seus negócios de maneira simples e gratuita.
            Encontre produtos e serviços bem pertinho de você. Divulgue já !!!

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

      <!--ManjaTEC-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/manja.jpg"/>
          
          <ion-card-header>
            <ion-card-title>ManjaTec</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            O ManjaTec uma Plataforma de incentivo e aúxilio aos Estudos, de forma 
            prática e intuitiva. Venha conhecer e veja se esta manjando!

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    <!--Linha 4-->
    <ion-row>

      <!--Stoke Bank-->
      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/stokBank.png"/>
          
          <ion-card-header>
            <ion-card-title>Stoke Bank</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>

            O Stoke Bank é uma plataforma prática de gerenciamento de estoque. 
            Faça todo o controle e gerenciamento de força bem simples e objetiva.

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 

          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-xl>

        <ion-card>
          <img src="../assets/img/icone-2.png"/>
          
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Troco Perfumes</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Projeto realizado entre a parceria do Troco Perfumes e Cadmos.
            Realize trocas de perfumes e descubra novas fragrâncias.

            <br>

            <a href="https://cadmosdevs.com.br/projectfk4vgs4/index.html" target="_blank">
              <ion-chip outline color="primary">
                
                  <ion-icon name="logo-chrome" ></ion-icon>
                  <ion-label>
                    Visitar Site
                  </ion-label>

              </ion-chip>
            </a> 
            
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    
  </ion-grid>

</ion-content>
