<ion-header>
  <ion-toolbar>
    <ion-title>Manutenção</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Serviços-->
  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm>
        <ion-card>

          <ion-card-header>
            <ion-title>
              Preventiva
            </ion-title>
          </ion-card-header>

          <ion-card-content>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Troca de Pasta Térmica
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Limpeza e Eficiência de 
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Sistemas
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>

          <ion-card-header>
            <ion-title>
              Corretivas
            </ion-title>
          </ion-card-header>

          <ion-card-contant>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Substituição de Componentes
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Formatação
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Troca de Fonte
            </ion-item>

          </ion-card-contant>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
        <ion-card>

          <ion-card-header>
            <ion-title>
              Instalação de Programas
            </ion-title>
          </ion-card-header>

          <ion-card-content>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Pacote Office
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Antivirus
            </ion-item>

            <ion-item>
              <ion-icon name="checkmark-outline"></ion-icon> Entre Outros
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--Destaque-->
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card style="align-items: center;">

          <ion-card-header>

            <ion-title>
           
              <ion-label>Importância da Limpeza</ion-label>
        
            </ion-title>

          </ion-card-header>

          <ion-card-content style="font-size: large; align-items: center;">
            <ion-label>
            Fazer a limpeza regular de seu computador é de extrema importância 
   
            para seu bom funcionamento, pois o acumulo de sujeira pode acabar
    
            bloqueando as saídas de ar, assim causando superaquecimento e afetando 
            todos os componentes.
          </ion-label>

          </ion-card-content>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Atalhos-->
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>

          <ion-card-header>
            <ion-title>
              Atalhos úteis para o dia a dia
            </ion-title>
          </ion-card-header>

          <ion-card-content>

            <ion-slides>

              <!--Copiar e Colar-->
              <ion-slide>
    
                <ion-card>
                  
                  <ion-contant>
                    
                    <ion-row>
    
                      <ion-col size="12" size-sm>
                        <ion-card>
    
                          <ion-card-header>
                            <ion-title>
                              Copiar, Colar, Recortar e Selecionar tudo
                            </ion-title>
                          </ion-card-header>
                          
                          <ion-card-contant>
                            
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Copiar CTRL + C
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item >
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Colar CTRL + V
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Recortar CTRL + X
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Selecionar tudo CTRL + A
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                          </ion-card-contant>
                        </ion-card>
                      </ion-col>
                      
                    </ion-row>
                  </ion-contant>
                  
                </ion-card>
    
              </ion-slide>
    
              <!--Navegador-->
              <ion-slide>
    
                <ion-card>   
                  
                  <ion-contant>
    
                    <ion-row>
    
                      <ion-col size="12" size-sm>
                        <ion-card>
    
                          <ion-card-header>
                            <ion-title>
                              Usados em Navegadores
                            </ion-title>
                          </ion-card-header>
    
                          <ion-card-contant>
                                
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;" >
                                <ion-label>
                                  Abrir nova Janela CTRL + N
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item >
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Abrir nova Guia CTRL + T
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Reabrir Guia CTRL + SHIFT + T
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Abrir Guia Anônima CRTL + SHIFT + N
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                          </ion-card-contant>
                        </ion-card>
                      </ion-col>
                      
                    </ion-row>
                  </ion-contant>
                  
                </ion-card>
    
              </ion-slide>
    
              <!--Word-->
              <ion-slide>
    
                <ion-card>
    
                  
                  <ion-contant>
                    
                    <ion-row>
  
    
                      <ion-col size="12" size-sm>
                        <ion-card>
    
                          <ion-card-header>
                            <ion-title>
                              Usado no Microsoft Word
                            </ion-title>
                          </ion-card-header>
                  
                          <ion-card-contant>
                            
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Salvar CTRL + B
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item >
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Desafazer CTRL + Z
                                </ion-label>
                              </ion-chip>
                            </ion-item>
    
                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Refazer CTRL + Y
                                </ion-label>
                              </ion-chip>
                            </ion-item>

                            <ion-item>
                              <ion-chip color="primary" style="font-size: 30px;">
                                <ion-label>
                                  Centralizar CTRL + E
                                </ion-label>
                              </ion-chip>
                            </ion-item>
        
                          </ion-card-contant>
                        </ion-card>
                      </ion-col>
                      
                    </ion-row>
                  </ion-contant>
                  
                </ion-card>
    
              </ion-slide>
            </ion-slides>

          </ion-card-content>

        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
