<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--HEADER-->
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-contant>
            HEADER
          </ion-card-contant>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Serviços-->
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-contant>
            
            <ion-grid>

              <ion-row>

                <!--Desenvolvimento-->
                <ion-col size="12" size-sm>
                  <ion-card>
                    
                    <ion-card-header>
                      <ion-title>
                        Web
                      </ion-title>
                    </ion-card-header>

                    <ion-card-contant>

                      <ion-item>
                        <ion-icon name="logo-chrome"></ion-icon> Sites
                      </ion-item>

                      <ion-item>
                        <ion-icon name="storefront-outline"></ion-icon> E-Commmece
                      </ion-item>

                      <ion-item>
                        <ion-icon name="stats-chart-outline"></ion-icon> Sistemas
                      </ion-item>

                    </ion-card-contant>
                    
                  </ion-card>
                </ion-col>

                <!--Aplicativos-->
                <ion-col size="12" size-sm>
                  <ion-card>

                    <ion-card-header>
                      <ion-title>
                        Aplicativos
                      </ion-title>
                    </ion-card-header>

                    <ion-card-contant>

                      <ion-item>
                        <ion-icon name="logo-android"></ion-icon> 
                        <ion-label>
                          Android
                        </ion-label>
                      </ion-item>

                      <ion-item>
                        <ion-icon name="logo-apple"></ion-icon> 
                        <ion-label>
                          IOS
                        </ion-label>
                      </ion-item>
                    </ion-card-contant>

                    <ion-item>
                      <ion-icon name="lock-closed-outline"></ion-icon>
                      <ion-label>
                        Interno
                      </ion-label>
                    </ion-item>

                  </ion-card>
                </ion-col>

                <!--Jogos-->
                <ion-col size="12" size-sm>
                  <ion-card>

                    <ion-card-header>
                      <ion-title>
                        Jogos 2D
                      </ion-title>
                    </ion-card-header>

                    <ion-card-contant>

                      <ion-item>
                        <ion-icon name="logo-chrome"></ion-icon> Web
                      </ion-item>

                      <ion-item>
                        <ion-icon name="logo-android"></ion-icon> Android
                      </ion-item>

                      <ion-item>
                        <ion-icon name="logo-apple"></ion-icon> IOS
                      </ion-item>

                    </ion-card-contant>
                    
                  </ion-card>
                </ion-col>
     
              </ion-row>
            </ion-grid>
          </ion-card-contant>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Processos-->
  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm>
       <ion-card>

         <ion-card-contant>
           Processo 1
         </ion-card-contant>
       </ion-card>
      </ion-col>

      <ion-col size="12" size-sm>
       <ion-card>
         <ion-card-contant>
          Processo 2
         </ion-card-contant>
       </ion-card>        
      </ion-col>

      <ion-col size="12" size-sm>
       <ion-card>
         <ion-card-contant>
          Processo 3
         </ion-card-contant>
       </ion-card>        
      </ion-col>

    </ion-row>
  </ion-grid>
  
  <!--Projetos-->
  <ion-card>
    <ion-card-header>
      <ion-title>
        Alguns de nossos projetos
      </ion-title>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm-12>

        <ion-slides>

          <ion-slide>
            <ion-card>
              <ion-card-contant>
                <img src="../assets/img/hope.jpg" alt="">
              </ion-card-contant>

  
                <ion-card-footer>

                  <ion-button class="primary">
                    Ver +
                  </ion-button>

                </ion-card-footer>


            </ion-card>
           
            <ion-card>
              <ion-card-contant>
                <img src="../assets/img/capoeirando.jpg" alt="">
              </ion-card-contant>

              <ion-card-footer>

                <ion-button class="primary">
                  Ver +
                </ion-button>

              </ion-card-footer>

            </ion-card>

            <ion-card>
              <ion-card-contant>
                <img src="../assets/img/fatekinho.jpg" alt="">
              </ion-card-contant>

              <ion-card-footer>

                <ion-button class="primary">
                  Ver +
                </ion-button>

              </ion-card-footer>
              
            </ion-card>

          </ion-slide>

          

        </ion-slides>

        

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

