<ion-header>
  <ion-toolbar>
    <ion-title>equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">

        <ion-card (click)="showModal()">
          <ion-card-content>
            <img src="../assets/equipe/taturana.jpeg">
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" offset="6">

        <ion-card>
          <ion-card-content>
            <img src="../assets/equipe/dodo.jpg">
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">

        <ion-card>
          <ion-card-content>
            <img src="../assets/equipe/kaiser.jpg">
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  


</ion-content>
