<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadmos Desenvolvimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Biografia-->
  <ion-grid>

    <ion-row>

      <ion-col size="12" size-sm>
        <div>
          <ion-card>
            <ion-card-content>
              <img src="../assets/cdm/logo.jpg">
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="12" size-sm>
        <div>
          <ion-card>
            <ion-card-content>
              Iniciamos uma parceria afim de desenvolver um projeto de TCC 
              cujo o codinome era Cadmos, a equipe foi tão produtiva na realização 
              do desenvolvimento que consideram a ideia de transformar Cadmos não em um 
              só projeto mas numa Startup uma futura empresa de desenvolvimento. A ideia foi 
              tão aceita pelo grupo que a equipe começou a desenvolver mais projetos, planos de 
              marketing, inovações foram surgindo e o conceito de empreender crescendo cada vez mais, 
              assim criando outra visão desses conceitos. Na mitologia grega CADMOS foi um príncipe 
              guerreiro, responsável por ensinar o alfabeto aos gregos e criar cidades na grécia.
              Com esse conceito o grupo Cadmos também tem o objetivo de ensinar, inovar, 
              criar e transformar sonhos em realidade através da tecnologia.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>

  <!--Title Vivencia-->
  <ion-card>
    <ion-card-header>
      <ion-title>
        Vivência Cadmos
      </ion-title>
    </ion-card-header>
  </ion-card>

  <!--Vivencia-->
  <ion-grid>
    <ion-row>
      <ion-col size="24" size-sm>

        <ion-card>

          <ion-card-content>

            <ion-slides>

              <ion-slide>
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/equipe.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
               
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/fatec.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/manja2.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
              </ion-slide>

              <ion-slide>
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/equipe6.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
               
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/equipe7.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/equipe3.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
              </ion-slide>

              <ion-slide>
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/banner.jpeg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
               
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/mrketing.jpg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
                <ion-card>
                  <ion-card-content>
                    <img src="../assets/cdm/parceria.jpeg" alt="" class="imgVivencia">
                  </ion-card-content>
                </ion-card>
    
              </ion-slide>
    
            </ion-slides>

          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Title Parceira-->
  <ion-card>
    <ion-card-header>
      <ion-title>
        Parceiros
      </ion-title>
    </ion-card-header>
  </ion-card>

  <!--Parceiros-->
  <ion-grid>

    <!--Row 1-->
    <ion-row>

      <ion-col size="12" size-sm>
      
        <ion-card>

          <ion-card-header>
            Mello Sacolas
          </ion-card-header>

          <ion-card-content>
            
            <ion-row>
              <ion-col size="12" size-sm>

                <ion-label> 
                
                  Com o obejtivo principal de divulgar 
                  <br>
                  sua marca com estilo e personalidade.
                  <br>
                  A Mello Sacolas trabalha com o melhor da
                  <br>
                  estampagem em sacolas.
                  
                </ion-label>

              </ion-col>

              <ion-col size="12" size-sm>
                <img src="../assets/img/mello.jpg" alt="" style="height: 200px; width: 200px;">
              </ion-col>

            </ion-row>
          </ion-card-content>

        </ion-card>
        
      </ion-col>

      <ion-col size="12" size-sm>
      
        <ion-card>

          <ion-card-header>
            R1 InfoSeg
          </ion-card-header>

          <ion-card-content>
            
            <ion-row>
              <ion-col size="12" size-sm>

                <ion-label> 
                  Um empresa que atua no ramo de
                  <br> 
                  Manutenção e Suporte de 
                  <br>
                  computadores e impressora. Além de 
                  <br>
                  oferecer serviços em 
                  <br>
                  intalação de Cameras de segurança e 
                  <br>
                  Alarmes.
                </ion-label>

              </ion-col>

              <ion-col size="12" size-sm>
                <img src="../assets/img/r1.jpg" alt="" style="height: 200px; width: 200px;">
              </ion-col>

            </ion-row>
          </ion-card-content>

        </ion-card>
        
      </ion-col>

    </ion-row>

    <!--Row 2-->
    <ion-row>

      <!--Parceiro-->
      <ion-col size="12" size-sm>
      
        <ion-card>

          <ion-card-header>
            Leysse
          </ion-card-header>

          <ion-card-content>
            
            <ion-row>
              <ion-col size="12" size-sm>

                <ion-label> 
                  kedfnckaedmlhdbwaebnfdjnelarfmlemdkl
                </ion-label>

              </ion-col>

              <ion-col size="12" size-sm>
                <img src="../assets/img/hope.jpg" alt="" style="height: 200px; width: 200px;">
              </ion-col>

            </ion-row>
          </ion-card-content>

        </ion-card>
        
      </ion-col>

      <ion-col size="12" size-sm>
      
        <ion-card>

          <ion-card-header>
            Igor Araujo
          </ion-card-header>

          <ion-card-content>
            
            <ion-row>
              <ion-col size="12" size-sm>

                <ion-label> 
                
                  Se interessou por desenvolvimento bem 
                  <br>
                  antes  de saber o que era desenvolver
                  <br>
                  Hoje formado em Análise e Desenvolvimento 
                  <br>
                  de sistema e cursa sua pós graduação em 
                  <br>
                  Ciência de dados e Inteligência Artificial

                </ion-label>

              </ion-col>

              <ion-col size="12" size-sm>
                <img src="../assets/img/igor.jpg" alt="" style="height: 200px; width: 200px;">
              </ion-col>

            </ion-row>
          </ion-card-content>

        </ion-card>
        
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
